{% extends 'base.html' %}

{% block title %}Cupcakes!{% endblock %}

{% block content %}
    <h1>Cupcakes</h1>
    <ul id="cupcakes-list"></ul>

    <form id="add-cupcake-form">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->

        {% for field in form
               if field.widget.input_type != 'hidden' %}

          <div>
            {{ field.label }}
            {{ field }}

            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>

        {% endfor %}

        <button class="btn btn-primary" id="submit-new-cupcake" type="submit">Submit</button>
      </form>

{% endblock %}